html, body {
    height: 100%;
}

.form-control {
    height: 45px;
    font-size: 20px;
}

.btn {
    height: 45px;
    font-size: 19px;
    font-weight: 500;
    box-shadow: none !important;
}

.register-btn {
    background-color: #04e115;
    border-color: #04e115 !important;
}

.register-btn:hover {
    background-color: #04cb17;
}