.nav-link {
    font-weight: 500;
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 550;
}

i {
    font-size: 1.9rem;
    text-decoration: none;
}

.profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-profile {
    text-decoration: none !important;
}

.nav-profile > p {
    font-size: 19px;
    color: #181717;
    font-weight: 500;
}