.nav-link {
    font-weight: 500;
    font-size: 20px;
    color: #818181;
    transition: all 0.5s;
}

.nav-link:hover {
    color: #585858;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 550;
}

i {
    font-size: 1.35rem;
    text-decoration: none;
}

.nav-profile-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
}

.search-form {
    width: 50%;
}

.nav-profile {
    text-decoration: none !important;
}

.nav-profile > p {
    font-size: 19px;
    color: #181717;
    font-weight: 500;
}

.search-box-suggestions {
    position: absolute;
    top: 50px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 0.3s linear;
    z-index: 1300;
}

.search-box-suggestion {
    border-radius: 5px;
    transition: all linear 0.5s;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.search-box-suggestion > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-box-suggestion:hover {
    background-color: #eeeeee;
}

.notifications-navbar {
    padding: 10px;
    transition: 0.5s;
    border-radius: 10px;
}

.notifications-navbar:hover {
    background-color: #dcdcdc;
}

.notifications-navbar-holder {
    display: none;
    transition: all 0.5s;
}

@media all and (max-width: 768px) {
    .nav-link {
        padding-left: 0 !important;
    }

    .navbar-brand {
        margin-left: 0 !important;
    }

    .search-form {
        width: 100%;
        margin: 0 !important;
    }

    .nav-profile {
        margin-top: 15px;
    }

    .search-box-suggestions {
        width: 65%;
    }

    .navbar > .container-fluid {
        justify-content: normal !important;
    }
}