<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/general.css">
</head>
<body>
<div class="container-md my-3"
     style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;padding-left: 15px;padding-right: 15px;border-radius: 10px;height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-md-4 col-12 chat-room-box-holder" style="height: 100%">
            <div style="border-style: solid;border-width: 0 1px 0 0;border-color: #c9c9c9;height: 100%">
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
                <div class="d-flex flex-row chat-room-box">
                    <img class="align-self-center" style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                         alt="">
                    <div class="ms-2">
                        <p class="friend-name">Lyboslav</p>
                        <p class="latest-message">Message</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-12" style="height: 100%">
            <div class="d-flex flex-column" style="height: 100%">
                <div class="d-flex flex-column" style="overflow-y: auto;padding: 15px">
                    <p class="own-message message">hello</p>
                    <p class="own-message message">hello123</p>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                    <div class="d-flex flex-row">
                        <div class="d-flex">
                            <img class="align-self-center" style="width: 30px;height: 30px;border-radius: 50%"
                                 src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                 alt="">
                        </div>
                        <p class="message other-message align-self-center mb-0">
                            hello12456rhfjrtjrtajrtjtrjereytkmghghdkgfkfgkfgsktrjrtj</p>
                    </div>
                </div>
                <div class="d-flex flex-row mt-auto p-3">
                    <input placeholder="Send message." class="form-control" type="text">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"
        integrity="sha512-tL4PIUsPy+Rks1go4kQG8M8/ItpRMvKnbBjQm4d2DQnFwgcBYRRN00QdyQnWSCwNMsoY/MfJY8nHp2CzlNdtZA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/AjaxManager.js"></script>
<script src="/static/js/WebSocketManager.js"></script>
<script src="/static/js/chat/ChatRoom.js"></script>
<script src="/static/js/chat/Chat.js"></script>
</body>
</html>