<link rel="stylesheet" href="/static/css/post.css">
<link rel="stylesheet" href="/static/css/imageUploader.css">
<link rel="stylesheet" href="/static/css/postModal.css">
<link rel="stylesheet" href="/static/css/comments.css">
<body>
<div th:replace="/fragments/pagetop.html"></div>
<div th:replace="/modals/likemodal.html"></div>
<div th:replace="/fragments/createpost.html"></div>
<div class="container-lg mt-4">
    <div class="row d-flex justify-content-md-center">
        <div class="col-md-6 col-12 p-0 m-0" id="posts"></div>
    </div>
</div>
<div th:replace="/modals/postmodal.html"></div>
<div class="toast-container toast-container position-absolute p-3 top-0 end-0" id="notifications"></div>
<script src="/static/js/AjaxManager.js"></script>
<script src="/static/js/post/Post.js"></script>
<script src="/static/js/post/PostManager.js"></script>
<script src="/static/js/ImageEncode.js"></script>
<script src="/static/js/WebSocketManager.js"></script>
<script src="/static/js/Notification.js"></script>
<script src="/static/js/FriendManager.js"></script>
<script src="/static/js/PostCreator.js"></script>
<script src="/static/js/comment.js"></script>
<script src="/static/js/post/AdvancedPostView.js"></script>
<script src="/static/js/post/PostModal.js"></script>
<script src="/static/js/HistoryStateEvents.js"></script>
<script>
    $(document).ready(function () {
        PostManager.init("/posts");
    })
</script>
</body>
</html>