<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/postPage.css">
</head>
<body>
<div class="container-fluid h-100">
    <div class="row" style="height: 100%">
        <div class="d-flex col-md-9 col-12 justify-content-center" style="background: black">
            <img class="img-fluid rounded-start" style="object-fit: contain !important; max-height: 100vh"
                 src=""
                 alt="">
        </div>
        <div class="col-md-3 col-12">
            <div class="mt-3">
                <div class="d-flex flex-row">
                    <img style="width: 50px;height: 50px;border-radius: 50%"
                         src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/07/solar_orbiter_s_first_views_of_the_sun5/22136942-2-eng-GB/Solar_Orbiter_s_first_views_of_the_Sun_pillars.gif"
                         alt="">
                    <p class="mb-0 ms-2">Lyuboslav Medarov</p>
                </div>
                <div class="d-flex flex-column mt-2">
                    <p>gdjsidjhgerqiojgbhndfkeabhjreiqhg</p>
                </div>
                <div class="mt-4 d-flex flex-row">
                    <span>100 Likes</span>
                    <span class="ms-auto">120 Comments</span>
                </div>
                <hr>
                <div class="d-flex flex-row px-2">
                    <i style="font-size: 2rem" class="far fa-thumbs-up"></i>
                    <i style="font-size: 2rem" class="far fa-comment ms-auto"></i>
                </div>
                <hr>
            </div>
            <div class="comments-holder">
                <div class="comments" id="comments">
                    <div class="comment" id="comment-4">
                        <div class="d-flex flex-row">
                            <img style="width: 45px;height: 45px;border-radius: 50%;"
                                 src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/07/solar_orbiter_s_first_views_of_the_sun5/22136942-2-eng-GB/Solar_Orbiter_s_first_views_of_the_Sun_pillars.gif"
                                 alt="">
                            <div class="d-flex flex-column ms-2">
                                <div style="padding: 10px;border-radius: 10px;background: #f5f4f4">
                                    <p class="mb-0" style="font-weight: 620;">Lyuboslav Medarov</p>
                                    <p class="mb-0">comment to post</p>
                                </div>
                                <div class="d-flex flex-row">
                                    <span class="me-3">Like</span>
                                    <span>Reply</span>
                                    <span class="ms-auto">Likes</span>
                                </div>
                                <p>Replies</p>
                            </div>
                        </div>
                        <div class="replies" style="display: block;margin-left: 35px">
                            <div class="comment" id="comment-5">
                                <div class="d-flex flex-row">
                                    <img style="width: 45px;height: 45px;border-radius: 50%;"
                                         src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/07/solar_orbiter_s_first_views_of_the_sun5/22136942-2-eng-GB/Solar_Orbiter_s_first_views_of_the_Sun_pillars.gif"
                                         alt="">
                                    <div class="d-flex flex-column ms-2">
                                        <div style="padding: 10px;border-radius: 10px;background: #f5f4f4">
                                            <p class="mb-0" style="font-weight: 620;">Lyuboslav Medarov</p>
                                            <p class="mb-0">comment to post</p>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <span class="me-3">Like</span>
                                            <span>Reply</span>
                                            <span class="ms-auto">Likes</span>
                                        </div>
                                        <p>Replies</p>
                                    </div>
                                </div>
                                <div class="replies" style="display: block;margin-left: 35px">
                                    <div class="comment" id="comment-6">
                                        <div class="d-flex flex-row">
                                            <img style="width: 45px;height: 45px;border-radius: 50%;"
                                                 src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/07/solar_orbiter_s_first_views_of_the_sun5/22136942-2-eng-GB/Solar_Orbiter_s_first_views_of_the_Sun_pillars.gif"
                                                 alt="">
                                            <div class="d-flex flex-column ms-2">
                                                <div style="padding: 10px;border-radius: 10px;background: #f5f4f4">
                                                    <p class="mb-0" style="font-weight: 620;">Lyuboslav Medarov</p>
                                                    <p class="mb-0">comment to post</p>
                                                </div>
                                                <div class="d-flex flex-row">
                                                    <span class="me-3">Like</span>
                                                    <span>Reply</span>
                                                    <span class="ms-auto">Likes</span>
                                                </div>
                                                <p>Replies</p>
                                            </div>
                                        </div>
                                        <div class="replies" style="display: block;margin-left: 35px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <img class="mt-1" style="width: 35px;height: 35px;border-radius: 50%;"
                                     src="https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/07/solar_orbiter_s_first_views_of_the_sun5/22136942-2-eng-GB/Solar_Orbiter_s_first_views_of_the_Sun_pillars.gif"
                                     alt="">
                                <input placeholder="Reply to someone" class="ms-2 form-control reply-to" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="view-more-comments">

                </div>
                <input id="write-comment" class="form-control" type="text">
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="/static/js/AjaxManager.js"></script>
<script src="/static/js/comment.js"></script>
<script src="/static/js/post/PostPage.js/js/PostPage.js"></script>
</body>
</html>